.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.separator {
  margin: 0 10px 0 10px;
}

.section-separator {
  width: 30%;
  max-width: 250px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.section-sep-long{
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 30px;
}

.banner {
  max-width: 800px;
  width: 100%;
  padding-top: 20px;
  margin: 0 auto;
}

.centered {
  text-align: center;
}

.navButton {
  width: 100%;
  min-width: 100;
  text-align: center;
}

.navIcon{
  margin-top: 5px;
  margin-right: 10px;
}