.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.separator-icon {
  margin: 0 5px 0 5px;
}

.separator {
  width: 30%;
  max-width: 250px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.separator-long {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  padding-bottom: 30px;
}

.centered {
  text-align: center;
}

.navButton {
  text-align: center;
  white-space: nowrap;
}

.navIcon{
  margin: 2px;
}

.programme {
  padding-top: '300px'
}